<nz-card [nzActions]="[actionSettingUser]" style="height: 97%">
    <nz-card-meta nzTitle="Thông tin cá nhân" [nzAvatar]="avatarTemplateUser"> </nz-card-meta>
</nz-card>
<ng-template #avatarTemplateUser>
    <nz-avatar nzIcon="user" style="background-color: #1b75db"></nz-avatar>
</ng-template>
<ng-template #actionSettingUser>
    <div class="text-left car-action">
        <p>Mã nhân viên</p>
        <p>Họ và tên</p>
        <p>Tên đăng nhập</p>
        <p>Số điện thoại</p>
        <p>Email Vissoft</p>
        <p>CMND/CCCD</p>
        <p>Chức danh</p>
        <p>Phòng ban</p>
    </div>
</ng-template>