<page-header class="site-page-header" [breadcrumb]="breadcrumb" [title]="'Chi tiết hợp đồng '" [action]="action">
    <ng-template #breadcrumb>
        <nz-breadcrumb>
            <nz-breadcrumb-item> Quản lý hợp đồng </nz-breadcrumb-item>
            <nz-breadcrumb-item *ngIf="title == 0"><a routerLink="/contract-management/effect"
                    routerLinkActive="active">Hợp đồng còn hiệu lực</a></nz-breadcrumb-item>
            <nz-breadcrumb-item *ngIf="title == 1"><a routerLink="/contract-management/expired"
                    routerLinkActive="active">Hợp đồng hết hạn</a></nz-breadcrumb-item>
            <nz-breadcrumb-item *ngIf="title == 2"><a>Hợp đồng chấm dứt</a></nz-breadcrumb-item>
            <nz-breadcrumb-item>{{ code }}</nz-breadcrumb-item>
        </nz-breadcrumb>
    </ng-template>
    <ng-template #action>
        <div *ngIf="!termination">
            <button nz-button nzType="primary" routerLink="/contract-management/add" routerLinkActive="active"><i
                    nz-icon nzType="download" nzTheme="outline" style="margin-right: 10px"></i> Export</button>
            <button nz-button nzType="primary" routerLink="/contract-management/add" routerLinkActive="active"><i
                    nz-icon nzType="close-circle" nzTheme="outline" style="margin-right: 10px"></i> Xóa</button>
        </div>
        <nz-button-group *ngIf="termination" style="float: right">
            <button nz-button routerLink="/contract-management/effect/change" routerLinkActive="active"><i nz-icon
                    nzType="retweet" nzTheme="outline" class="headerDropdown"></i>Chuyển đổi hợp đồng</button>
            <button nz-button nzType="primary" nz-dropdown [nzDropdownMenu]="menu1" nzPlacement="bottomRight">
                <i nz-icon nzType="caret-down"></i>
            </button>
            <nz-dropdown-menu #menu1="nzDropdownMenu">
                <ul nz-menu>
                    <li nz-menu-item><i nz-icon nzType="download" nzTheme="outline" class="headerDropdown"></i>
                        Export
                    </li>
                    <li nz-menu-item><i nz-icon nzType="file-excel" nzTheme="outline" class="headerDropdown"></i> Chấm
                        dứt hợp đồng</li>
                    <li nz-menu-item><i nz-icon nzType="close-circle" nzTheme="outline" class="headerDropdown"></i>
                        Xóa
                    </li>
                </ul>
            </nz-dropdown-menu>
            <button style="margin-left: 10px" nz-button nzType="primary" routerLink="/contract-management/effect/edit "
                routerLinkActive="active">
                <i nz-icon nzType="edit"></i>Cập nhật
            </button>
        </nz-button-group>
    </ng-template>
</page-header>