<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">


  <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please enter username">
      <nz-input-group nzSize="large" nzPrefixIcon="user">
        <input nz-input formControlName="userName" placeholder="username" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please enter password">
      <nz-input-group [nzSuffix]="suffixTemplate" nzSize="large" nzPrefixIcon="lock">
        <input nz-input [type]="passwordVisible ? 'text' : 'password'" formControlName="password"
          placeholder="password" />
      </nz-input-group>
      <ng-template #suffixTemplate>
        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
          (click)="passwordVisible = !passwordVisible"></i>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-col [nzSpan]="12">
      <label nz-checkbox class="remember" formControlName="remember">Remember me</label>
    </nz-col>
    <nz-col [nzSpan]="12" class="text-right">
      <a class="forgot" routerLink="/passport/register">Forgot your password?</a>
    </nz-col>
  </nz-form-item>
  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="loading" nzBlock>
      Login
    </button>
  </nz-form-item>
</form>
<div class="other">
  Sign in with
  <i nz-tooltip nzTooltipTitle="in fact Auth0 via window" (click)="open('auth0', 'window')" nz-icon nzType="facebook"
    class="icon"></i>
  <i nz-tooltip nzTooltipTitle="in fact Github via redirect" (click)="open('github')" nz-icon nzType="google"
    class="icon"></i>
  <a class="register" routerLink="/passport/register">Sign up</a>
</div>