<p style="font-weight: 600; font-size: 20px; margin-top: 20px;">GIỚI THIỆU</p>
<nz-card style="margin-top: 20px;height: 273px;">

    <p style="font-size: 18px;">Với ý tưởng ấp ủ từ những năm tháng đại học, POLYGIFT bắt đầu đi vào thị trường hoạt
        động từ giữ năm 2020. Kể từ
        những ngày đầu tiên vào hoạt động, chúng tôi luôn muốn mang tới khách hàng những món quà tặng, quà tri ân thật
        sự ý
        nghĩa và ấm áp, đem lại sự gần gủi cho tất cả mọi người </p>
    <p style="font-size: 18px;">Kể từ khi bắt đầu vào hoạt động chúng tôi làm việc không ngừng nghỉ để mở rộng, đa dạng
        các mẫu mã sản phẩm quà
        tặng, giá cả hợp lí cho khách hàng. Sản phẩm của POLYGIFT SHOP luôn mang tính ấm áp gần gửi thân thương và đầy ý
        nghĩa để trao tặng đến tất cả mọi người</p>
</nz-card>