<nz-card [nzActions]="[actionSettingUser]" style="height: 97%">
    <nz-card-meta nzTitle="Hợp đồng gần đây nhất" [nzAvatar]="avatarTemplateUser"> </nz-card-meta>
</nz-card>
<ng-template #avatarTemplateUser>
    <nz-avatar nzSrc="../../../../../assets/tmp/img/contract-file-icon.png"> </nz-avatar>
</ng-template>
<ng-template #actionSettingUser>
    <div class="text-left car-action">
        <p>Mã hợp đồng</p>
        <p>Loại hợp đồng</p>
        <p>Ngày ký</p>
        <p>Ngày bắt đầu</p>
        <p>Ngày kết thúc</p>
    </div>
</ng-template>