<page-header [breadcrumb]="breadcrumb">
    <ng-template #breadcrumb>
        <nz-breadcrumb>
            <nz-breadcrumb>
                <nz-breadcrumb-item> <a routerLink="/dashboard" routerLinkActive="active">Quản lý đơn hàng</a>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>Cập nhật đơn hàng</nz-breadcrumb-item>
            </nz-breadcrumb>
        </nz-breadcrumb>
    </ng-template>
</page-header>
<div nz-row>
    <div nz-col nzSpan="15">
        <nz-card [nzBordered]="false" nzTitle="Thông tin đơn hàng">
            <nz-select (ngModelChange)="changeSelect($event)" [(ngModel)]="productSelect"
                style="margin-bottom: 10px;width: 250px;" nzShowSearch nzAllowClear nzPlaceHolder="Sản phẩm">
                <nz-option *ngFor="let item of productList" nzLabel={{item.name}} nzValue={{item.id}}></nz-option>
            </nz-select>
            <nz-table #basicTable [nzData]="productCart">
                <thead>
                    <tr>

                        <th>Ảnh</th>
                        <th>Tên sản phẩm</th>
                        <th>Đơn giá</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th nzAlign="center"><i style="color: rgb(168, 167, 165);font-size: 16px;" nz-icon
                                nzType="delete" nzTheme="fill"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <td><img src={{data.product.image}} alt=""></td>
                        <td>{{data.product.name}}</td>
                        <td>
                            <p style="margin-top: 15px;font-size: 16px;">{{((data.product.price | number: '1.0') + '
                                đ').toString().split(',').join('.')}}</p>

                        </td>
                        <td>
                            <nz-input-number style="width: 80px;" (change)="onChangeInput($event, data.product.id)"
                                [nzMin]="1" [nzMax]="data.product.quantity" [ngModel]="data.quantity"
                                (ngModelChange)="onChangeInputM($event, data.product.id)" [nzStep]="1">
                            </nz-input-number>
                        </td>
                        <td style="color: red;">
                            {{(((data.quantity *
                            data.product.price)| number: '1.0-5') + ' đ').toString().split(',').join('.')}}
                        </td>
                        <td nzAlign="center">
                            <i (click)="deleteItem(data.product.id)" style="color: rgb(168, 167, 165);font-size: 16px;"
                                nz-icon nzType="delete" nzTheme="fill"></i>

                        </td>
                    </tr>
                </tbody>
            </nz-table>

            Phí vận chuyển: <nz-input-number [(ngModel)]="inputPhi" (change)="transportFeeChange()" style="width: 120p"
                [nzMin]="20000" [nzMax]="50000" [nzStep]="1000">
            </nz-input-number>
            <span style="float: right;font-size: 20px; ">Tổng tiền: {{((total | number: '1.0') + '
                đ').toString().split(',').join('.')}}</span>

        </nz-card>
        <nz-card nzTitle="Lịch sử đơn hàng">
            <nz-table #basicTable1 [nzData]="orderChangeList">
                <thead>
                    <tr>
                        <th>Trạng thái</th>
                        <th>Người cập nhật</th>
                        <th>Thời gian</th>
                        <th>Ghi chú</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable1.data">
                        <td *ngIf="data.status == 0">Chờ xác nhận</td>
                        <td *ngIf="data.status == 1">Đang giao</td>
                        <td *ngIf="data.status == 2">Hoàn thành</td>
                        <td *ngIf="data.status == 3">Thất bại</td>
                        <td *ngIf="data.status == 4">Từ chối</td>
                        <td>{{data.account.username}}</td>
                        <td>
                            {{data.createdDate | date:'short'}}
                        </td>
                        <td>
                            {{data.note}}
                        </td>
                    </tr>
                </tbody>
            </nz-table>
            <button [disabled]="!payForm.valid" nz-button nzType="primary" (click)="paySubmit()">Cập nhật </button>
        </nz-card>
    </div>
    <div nz-col nzSpan="8" nzOffset="1">
        <form nz-form [formGroup]="payForm">
            <nz-card nzTitle="Nhân viên">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Vui lòng không để trống">
                        <nz-select formControlName="orderStatus" nzShowSearch nzAllowClear
                            nzPlaceHolder="Trạng thái đơn hàng">
                            <nz-option *ngIf="status == 0" nzLabel="Chờ xác nhận" nzValue="0">
                            </nz-option>
                            <nz-option nzLabel="Đang giao" nzValue="1">
                            </nz-option>
                            <nz-option nzLabel="Hoàn thành" nzValue="2">
                            </nz-option>
                            <nz-option nzLabel="Thất bại" nzValue="3">
                            </nz-option>
                            <nz-option *ngIf="status == 0 || status == 4 " nzLabel="Từ chối" nzValue="4">
                            </nz-option>
                        </nz-select>

                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control>
                        <nz-input-group [nzSuffix]="textAreaClearTpl"
                            class="ant-input-affix-wrapper-textarea-with-clear-btn">
                            <textarea style="width: 380px;" formControlName="noteStaff" nz-input
                                placeholder="Ghi chú trạng thái thay đổi"></textarea>
                        </nz-input-group>
                        <ng-template #textAreaClearTpl>
                            <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                                *ngIf="textValue" (click)="textValue = null"></i>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </nz-card>
            <nz-card nzTitle="Khách hàng">

                <nz-form-item>
                    <nz-form-control nzErrorTip="Vui lòng không để trống">
                        <input nz-input formControlName="name" placeholder="Họ và tên" [readonly]="readonly" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control>
                        <input nz-input formControlName="sdt" placeholder="Số điện thoại" [readonly]="readonly" />
                        <ng-container *ngFor="let valid of validForm.sdt">
                            <div style="color: red;" *ngIf="payForm.controls.sdt.hasError(valid.type)
                         && (payForm.controls.sdt.touched)">
                                {{valid.message}}
                            </div>
                        </ng-container>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Vui lòng không để trống">
                        <nz-select [nzDisabled]="disableCity" formControlName="city" (ngModelChange)="changeCity()"
                            nzShowSearch nzAllowClear nzPlaceHolder="Tỉnh/Thành phố ">
                            <nz-option *ngFor="let item of apiVN" [nzLabel]="item.name" [nzValue]="item.name">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Vui lòng không để trống">
                        <nz-select [nzDisabled]="disabledDistricts" (ngModelChange)="changeDistricts()"
                            formControlName="districts" nzShowSearch nzAllowClear nzPlaceHolder="Quận/Huyện">
                            <nz-option *ngFor="let item of apiDistricts" [nzLabel]="item.name" [nzValue]="item.name">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Vui lòng không để trống">
                        <nz-select [nzDisabled]="disabledWards" formControlName="wards" nzShowSearch nzAllowClear
                            nzPlaceHolder="Phường/Xã">
                            <nz-option *ngFor="let item of apiWards" [nzLabel]="item.name" [nzValue]="item.name">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Vui lòng không để trống">
                        <nz-input-group [nzSuffix]="textAreaClearTpl"
                            class="ant-input-affix-wrapper-textarea-with-clear-btn">
                            <textarea [readonly]="readonly" style="width: 380px;" formControlName="address" nz-input
                                placeholder="Địa chỉ cụ thể"></textarea>
                        </nz-input-group>
                        <ng-template #textAreaClearTpl>
                            <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                                *ngIf="textValue" (click)="textValue = null"></i>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control>
                        <nz-input-group [nzSuffix]="textAreaClearTpl"
                            class="ant-input-affix-wrapper-textarea-with-clear-btn">
                            <textarea [readonly]="readonly" style="width: 380px;" formControlName="noteCustomer"
                                nz-input placeholder="Ghi chú của khách hàng"></textarea>
                        </nz-input-group>
                        <ng-template #textAreaClearTpl>
                            <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                                *ngIf="textValue" (click)="textValue = null"></i>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </nz-card>
        </form>
    </div>
</div>