<div nz-row style="margin-top: 20px;">

    <div nz-col nzSpan="17" style="min-height: 340px;">
        <div nz-row style="height:33px; background-color:white; padding: 5px;margin-bottom: 10px; border-radius: 5px;">
            <div nz-col nzSpan="11">Tất
                cả ({{length}}
                sản phẩm)</div>
            <div nz-col nzSpan="4">Đơn giá</div>
            <div nz-col nzSpan="4">Số lượng</div>
            <div nz-col nzSpan="4">Thành tiền</div>
            <div nz-col nzSpan="1" (click)="deleteCartAll()"><i style="color: rgb(168, 167, 165);font-size: 16px;"
                    nz-icon nzType="delete" nzTheme="fill"></i>
            </div>
        </div>

        <div *ngFor="let data of listCart" nz-row
            style="background-color: white; padding: 10px; margin-bottom: 10px;border-radius: 5px;">
            <div nz-col nzSpan="11">

                <img style="width: 60px;" [src]="data.product.image" alt=""> <span
                    style="font-size: 16px;margin-left: 10px;">{{data.product.name}}</span>
            </div>
            <div nz-col nzSpan="4">
                <p style="margin-top: 15px;font-size: 16px;">{{((data.product.price | number: '1.0') + '
                    đ').toString().split(',').join('.')}}</p>
            </div>
            <div nz-col nzSpan="4">
                <nz-button-group style="border: rgb(183, 183, 187) solid 0.8px;margin-top: 10px;">
                    <nz-input-number style="width: 80px;" (change)="onChangeInput($event, data.id)" [nzMin]="1"
                        [nzMax]="data.product.quantity" [ngModel]="data.quantity"
                        (ngModelChange)="onChangeInputM($event, data.id)" [nzStep]="1">
                    </nz-input-number>
                </nz-button-group>
            </div>
            <div nz-col nzSpan="4" style="color: red;margin-top: 15px;font-size: 16px;">{{(((data.quantity *
                data.product.price)| number: '1.0-5') + ' đ').toString().split(',').join('.')}}</div>
            <div nz-col nzSpan="1"><i (click)="deleteById(data.id)"
                    style="margin-left: 4px; color: rgb(168, 167, 165);margin-top: 20px;font-size: 16px;" nz-icon
                    nzType="delete" nzTheme="fill"></i>
            </div>
        </div>
    </div>
    <div nz-col nzSpan="6" nzOffset="1">
        <nz-card>
            <span style="font-size: 18px;">Tổng tiền:</span> <span
                style="font-size: 18px;color: red;float: right;">{{((total| number: '1.0') + '
                đ').toString().split(',').join('.')}}</span>
            <button nzSize="large" style="display: block;margin-top: 20px;width: 280px;font-size: 18px;" nz-button
                nzType="primary" routerLink="/polygift/products/payment" routerLinkActive="active">Thanh toán</button>
        </nz-card>
    </div>
</div>