<page-header [breadcrumb]="breadcrumb">
    <ng-template #breadcrumb>
        <nz-breadcrumb>
            <nz-breadcrumb>
                <nz-breadcrumb-item> <a routerLink="/dashboard" routerLinkActive="active">Trang chủ</a>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>Quản lý đơn hàng</nz-breadcrumb-item>
            </nz-breadcrumb>
        </nz-breadcrumb>
    </ng-template>
</page-header>
<nz-card>
    <div nz-row>
        <div nz-col nzSpan="18">
            <nz-input-group style="width: 100%;" [nzSuffix]="suffixIconSearch" class="rounded-lg">
                <input type="text" [(ngModel)]="textSearchProduct" nz-input placeholder="Tìm kiếm đơn hàng" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
            </ng-template>
        </div>
        <div nz-col nzSpan="6">
            <nz-button-group style="float: right;">
                <button nz-button style="margin-left: 40px" nzType="primary" routerLink="/admin/order-manager/add"
                    routerLinkActive="active"><i nz-icon nzType="plus" nzTheme="outline"></i>Thêm </button>
                <button nz-button style="margin-left: 5px" nzType="primary"><i nz-icon nzType="download"
                        nzTheme="outline"></i>Exprot</button>
            </nz-button-group>


        </div>
    </div>
</nz-card>
<nz-card>
    <app-order-table [textSearch]="textSearchProduct"></app-order-table>
</nz-card>