<nz-card [nzActions]="[actionSettingContract]" style="height: 97%">
    <nz-card-meta nzTitle="Thông tin hợp đồng" [nzAvatar]="avatarTemplateContract"> </nz-card-meta>
</nz-card>
<ng-template #avatarTemplateContract>
    <nz-avatar nzSrc="../../../../../assets/tmp/img/contract-file-icon.png"> </nz-avatar>
</ng-template>
<ng-template #actionSettingContract>
    <div class="text-left car-action">
        <p>Mã hợp đồng</p>
        <p>Loại hợp đồng</p>
        <p>Ngày ký</p>
        <p>Ngày bắt đầu</p>
        <p>Ngày kết thúc</p>
        <p>Trạng thái</p>
    </div>
</ng-template>